* {
  /* border: 1px solid red; */
}

body {
  background: green;
  background-image: url(../img/grass-texture.jpg);
}

h1, h5 {
  color: white;
  padding-left: 2%;
}

#player1_strip, #player2_strip {
  height: 200px;
  width: 100%;
  background-image: url(../img/road_texture.jpg);
  background-size: contain;
  position: relative;
}

#player_1, #player_2 {
  position: absolute;
  height: 100%;
  z-index:2;
}

.car {
padding-top: 40%;
}

#start {
  position: absolute;
  background-color: #aaa;
  background-size:60px 60px;
  left: 12%;
  height: 100%;
  width: .3em;
}

#finish {
  position: absolute;
  background-color: #aaa;
  left: 87%;
  height: 100%;
  width: .3em;
}
